<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
	<connectionStrings>
		<add name="HospitalConnectionString"
			 connectionString= "Data Source=(local);Initial Catalog=HospitalSys;User ID=sa; Password=abdoServ22;TrustServerCertificate=True"
	providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>